<div class="col-xs-12 col-md-4">
  <div class="map-card">
    <div class="card">
      <%= link_to account_exchange_path(exchange) do %>
        <div class="row">
          <div class="col-xs-12">
            <%= image_tag user_pict(exchange.user), class: "card-user avatar avatar-large avatar-bordered" %>
            <%= exchange.user.first_name %>
            <%= exchange.user.last_name %>
          </div>
        </div>
        <h4><%= exchange.title %></h4>
      <% end %>
    </div>
  </div>
</div>
